@{
    Layout = null;
    ViewBag.Title = "微信后台管理";
}

<h2 style="margin-left: 36%;margin-top: 4%;font-size: 36px;">微信公众号后台管理</h2>
<boby>
    <div id="title">
        @*<span>个人微信公众号后台管理登录页面</span>*@
    </div>
    <div style="margin-left: 40%;margin-top: 4%;">
        <form action="loginFrom">
           <temp>
                <span style="font-size: 15px;">账&nbsp;&nbsp;&nbsp;号:</span>&nbsp;&nbsp;<input type="text" name="name" />
           </temp><br>
           <temp style="line-height: 40px;">
               <span style="font-size: 15px;">密&nbsp;&nbsp;&nbsp;码:</span>&nbsp;&nbsp;<input type="password" name="pwd">
           </temp><br>
           <button type="submit" style="line-height: 20px;width: 97px;height: 24px;">登录</button>
</form>
    </div>


</boby>

